/cmake-build-debug/CMakeFiles/
/cmake-build-debug/Testing/
/cmake-build-debug/Client
/cmake-build-debug/Client.cbp
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/log.txt
/cmake-build-debug/Makefile
