/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/Interface4
/cmake-build-debug/Interface4.cbp
/cmake-build-debug/log.txt
/cmake-build-debug/log_ctrl.txt
/cmake-build-debug/Makefile
/cmake-build-debug/run.txt
/cmake-build-debug/Testing/
/cmake-build-debug/gnuplot/dbscan/
/cmake-build-debug/gnuplot/delaunay/
/cmake-build-debug/gnuplot/em/
/cmake-build-debug/gnuplot/forel/
/cmake-build-debug/gnuplot/gifs/
/cmake-build-debug/gnuplot/ha/
/cmake-build-debug/gnuplot/incidence/
/cmake-build-debug/gnuplot/kmcores/
/cmake-build-debug/gnuplot/kmeans/
/cmake-build-debug/gnuplot/stree/
/cmake-build-debug/gnuplot/wave/
/cmake-build-debug/CMakeFiles/
/CMakeLists.txt
/.idea