/cmake-build-debug/CMakeFiles/
/cmake-build-debug/Testing/
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/Makefile
/cmake-build-debug/Server
/cmake-build-debug/Server.cbp
/CMakeLists.txt
/.idea/misc.xml
/.idea/modules.xml
/.idea/Server.iml
/.idea/vcs.xml
/cmake-build-debug/gnuplot/dbscan/
/cmake-build-debug/gnuplot/delaunay/
/cmake-build-debug/gnuplot/em/
/cmake-build-debug/gnuplot/forel/
/cmake-build-debug/gnuplot/gifs/
/cmake-build-debug/gnuplot/ha/
/cmake-build-debug/gnuplot/incidence/
/cmake-build-debug/gnuplot/kmcores/
/cmake-build-debug/gnuplot/kmeans/
/cmake-build-debug/gnuplot/stree/
/cmake-build-debug/gnuplot/wave/
